.main_title{
    text-align: center;
    margin-bottom: 40px;
}

/* ===== LED KPI ===== */
.led_kpi{
    background-color: #e8e8f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.led_title {
    margin-bottom: 20px;
}

.led_list {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.led_card {
    background-color: #ffffff;
    border-radius: 10px;
    ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.led_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #E8E8F5;
    border-radius: 12px;

}

.led_label {
    margin-top: 5px;
}

.led_status {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.led_stat {
    flex: 1;
    text-align: center;
    padding: 5px 10px;
    background-color: #e8e8f5;
    border-radius: 5px;
}

.led_stat.active {
    background-color: #0b4497;
    color: #ffffff;
}

.system_indicator {
    width: 8px;
    height: 8px;
    min-width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #9ca3af;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.indicator_label {
    position: absolute;
    top: 20px;
    right: 20px;
}

.system_indicator.active {
    background-color: #22c55e;
    box-shadow: 0 0 8px rgba(34, 197, 94, 0.7);
}

.system_indicator.inactive {
    background-color: #ff1d1d;
    box-shadow: 0 0 6px rgba(170, 27, 27, 0.35);
}

/* ===== BUTTON KPI ===== */

.button_title {
    margin-bottom: 20px;
    text-align: center;
}

.button_list {
    --rows: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(var(--rows), auto);
    grid-auto-flow: column;
    column-gap: clamp(40px, 8vw, 200px);
    row-gap: 20px;
    
}

/* === столбцы для разного кол-ва карточек ===*/
.button_list:has(li:nth-child(1)) {
    --rows: 1;
}

.button_list:has(li:nth-child(3)) {
    --rows: 2;
}

.button_list:has(li:nth-child(5)) {
    --rows: 3;
}

.button_list:has(li:nth-child(7)) {
    --rows: 4;
}

.button_list:has(li:nth-child(9)) {
    --rows: 5;
}

.button_card {
    background-color: #e8e8f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

}

.button_header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button_icon {
    width: 42px;
    height: 42px;
    background-color: #ccccdf;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button_circle {
    width: 21px;
    height: 21px;
    border: 2px solid #3b3c3dec;
    border-radius: 50%;
}

.point {
    display: none;
    width: 9px;
    height: 9px;
    background-color: #b9d2ff;
    border-radius: 50%;
    position: absolute;
}

.button_status {
    background-color: #ccccdf;
    padding: 5px 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_card.active .button_icon {
    background-color: #0b4497;
}

.button_card.active .button_circle {
    border-color: #b9d2ff;
}

.button_card.active .button_status {
    background-color: #0b4497;
}

.button_card.active .button_state {
    color: #ffffff;
}

.button_card.active .point {
    display: block;
}

/* ===== Мобильная версия ===== */

@media (max-width: 768px) {
    .button_list {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-flow: row;
        column-gap: 0;
    }
}