body {
    background: rgb(255, 255, 255);
    color: #2f3e46;
}

/* ============= Позиционирование sidebar ==========*/
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 40px;
    z-index: 100;
    background: #eeeeee;
    transition: width 0.5s ease, background 0.5s ease;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    /*плавность анимации для GOOGLE*/
    will-change: width;
    transform: translateZ(0);
}

/* ======== Burger ========*/
.sidebar_body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*расположения burger*/
.burger {
    width: 25px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    position: relative;
    /*сброс стилей button*/
    border: none;
    background: transparent;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
}

/*внешний вид burger*/
.burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #2f3e46;
    transition: top 0.3s ease, transform 0.3s ease, opacity 0.2s ease;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger span:nth-child(2) {
    top: 8px;
}

.burger span:nth-child(3) {
    top: 16px;
}

/*============ Ссылки sidebar`а ============*/
.nav_link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: 100%;
    color: #2f3e46;
    padding: 15px 0 15px 5px;
    font-size: 14px;
    transition: background 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

/* активный пункт */
.nav_link.active {
    position: relative;
}

/* полоска слева */
.nav_link.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: #2f3e46;
    border-radius: 0 3px 3px 0;

    transform: scaleY(0.6);
    /* 60% от высоты */
    transform-origin: center;
    /* от центра */

    transition: transform 0.4s cubic-bezier(.4, 0, .2, 1);
}

.sidebar:hover .nav_link.active:hover::before,
.sidebar.expanded .nav_link.active:hover::before {
    transform: scaleY(1);
    /* 100% */
    background: #ffffff;
}

/* контейнер иконки */
.nav_icon {
    width: 24px;
    min-width: 24px;
    display: flex;
    justify-content: center;
    /* выравнивание по горизонтаои*/
    align-items: center;
    /* выравнивание по вертикали*/
}

/* иконка */
.nav_icon svg {
    width: 20px;
    height: 20px;
}

/*ссылки sidebar при наведении*/
.nav_link:hover {
    color: #ffffff;
    background: #929292;
    box-shadow: 0 0.5em 0.75em 0em rgba(96, 96, 96, 0.8);
    /* тень */
    transform: translateY(-0.25em);
    /* эффект поднятия */
}

/*скрытие текста navmenu*/
.nav_text {
    transition: opacity 0.3s ease;
    white-space: normal;
}

.sidebar.collapsed .nav_text {
    opacity: 0;
    width: 0;
    overflow: hidden;
    display: inline-block;
    pointer-events: none;
    /*Чтобы текст нельзя было случайно выделить*/
}

.sidebar.expanded .nav_text {
    opacity: 1;
    transition-delay: 0.2s;
    /* чуть позже бургер анимации */
}

/* ========== Контентная часть =========*/
.content {
    padding: 20px;
    margin-left: 40px;
}

.content_text{
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.content_text p {
    text-align: justify;
    padding-bottom: 20px;
}

/* ======== KPI ========= */
.kpi{
    padding: 20px 0px 20px 0;
    background-color:#c4cdff;
    border-radius: 10px;
    
}
/*Текс над KPI*/
.kpi_title{
    margin-bottom: 30px;
    padding: 0px 20px;
}

/* Расположение KPI карточек */
.kpi_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 20px;
}

/*KPI карточки*/
.kpi_metric{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.kpi_metric:hover{
    transform: translateY(-0.22em);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.kpi_label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(47, 62, 70, 0.8);
    padding: 10px 0px 0px 15px;
    font-size: 15px;
    font-weight: 400;
}

.kpi_value {
    display: flex;
    align-items: baseline;
    gap: 6px;
    padding-left:15px;
}

#temperature_value, #pressure_value, #light_value, #brightness_value{
    font-size: 40px;
    font-weight: 700;
}
    
.kpi_unit {
    font-size: 15px;
    font-weight: 100;
}

/* Иконки KPI */
.kpi_icon{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #ebebebc2;
    border-radius: 12px;
    margin-right: 12px;

}
/*========= График RGB ===========*/

/* общий блок текста и графика*/
.section_chart_RGB{
    padding: 30px 0px;
}

/* график */
.chart_RGB{
    position: relative;
    width: 40%;
    padding: 20px 0px;
}

/*========= Устройства ===========*/
/*устройства с мышью*/
@media (min-width: 1025px) {
    .sidebar {
        width: 40px;
    }

    .sidebar:hover {
        width: 130px;
    }

    .sidebar:hover .nav_text {
        opacity: 1;
        /* текст становится видимым */
        width: auto;
        pointer-events: auto;
        /* текст снова кликабельный */
        transition: opacity 0.3s ease, width 0.3s ease;
    }

    .burger {
        display: none;
    }
}

/*мобильные устройства*/
@media (max-width:1024px) {
    .burger {
        display: flex;
    }

    .sidebar {
        width: 40px;
        /* свернутое меню */
    }

    .sidebar .nav_text {
        opacity: 0;
        /* текст скрыт по умолчанию */
        width: 0;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 0.5s ease, width 0.5s ease;
    }

    .sidebar.expanded {
        width: 130px;
        /* раскрытое меню */
    }

    .sidebar.expanded .nav_text {
        opacity: 1;
        /* текст видим */
        width: auto;
        pointer-events: auto;
        /* снова кликабельно */
    }
}