.wrapper {
    position: relative;
}
body{
    background: white;
    color:#2f3e46;
}
/*позиционирование sidebar*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 40px;
    background:#eeeeee;
    transition: width 0.5s ease, background 0.5s ease;
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

/*burger*/
.header_body {
    display: flex;
    flex-direction: column;
    /* чтобы бургер и меню шли сверху вниз */
    gap: 30px;
    /* расстояние между бургером и меню */
}

/*расположения burger*/
.burger {
    width: 25px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

/*внешний вид burger*/
.burger span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color:#2f3e46;
    transition: all 0.5s ease;
}
/* активное состояние (крестик) */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/*ссылки sidebar*/
.nav_link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: 100%;
    color: #2f3e46;
    padding: 15px 0 15px 5px;
    font-size: 14px;
    will-change: transform, box-shadow;
    transition: background 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

/*ссылки sidebar при наведении*/
.nav_link:hover {
    color: #ffffff; /* цвет текста при hover */
    background: #929292; /* можно оставить серый или подобрать свой */
    box-shadow: 0 0.5em 0.75em 0em rgba(96, 96, 96, 0.8); /* мягкая тень */
    transform: translateY(-0.25em); /* эффект поднятия */
}

/*скрытие текста navmenu*/
.nav_text {
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.header.collapsed .nav_text {
    opacity: 0;
    width: 0;
    overflow: hidden;
    display: inline-block;
    pointer-events: none; /*Чтобы текст нельзя было случайно выделить*/
}

/*контентная часть*/
.content {
    flex: 1;
    padding: 20px;
    margin-left:40px;
}

/*устройства с мышью*/
@media (min-width: 1025px){
    .header{
        width: 40px;
    }

    .header:hover{
        width: 130px;
    }

    .header:hover .nav_text{
        opacity: 1; /* текст становится видимым */
        width: auto; 
        pointer-events: auto; /* текст снова кликабельный */
        transition: opacity 0.3s ease, width 0.3s ease; 
    }

    .burger{
        display: none;
    }
}

/*мобильные устройства*/
@media (max-width:1024px) {
    .burger {
        display: flex;
    }

    .header {
        width: 40px; /* свернутое меню */
    }

    .header .nav_text {
        opacity: 0; /* текст скрыт по умолчанию */
        width: 0;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 0.5s ease, width 0.5s ease;
    }

    .header.expanded {
        width: 130px; /* раскрытое меню */
    }

    .header.expanded .nav_text {
        opacity: 1; /* текст видим */
        width: auto;
        pointer-events: auto; /* снова кликабельно */
    }
}